.login-form {

  h2 {
    text-align: center;
  }
  .form-group {
    margin-top: 0px;
  }
}

.register-form {
  margin-top: 5%;
  h2 {
    text-align: center;
  }
  .form-group {
    margin-top: 0px;
  }
}
